.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 5rem;
  width: 20rem;
  padding: 10px;

  position: absolute;
  top: 1rem;
  left: 8rem;
  border-radius: 5px;

  background: #FFF;
  -webkit-box-shadow: 1px 2px 1px 2px #ccc;
  box-shadow: 2px 0px 1px 3px #ccc;
}

.profile-container .trainer-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 4rem;
  border-radius: 50%;
}

.profile-container .trainer-image img {
  height: 5rem;
}

.container-profile-data {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  margin-left: 1.5rem;
}

.container-profile-data p {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  margin: 0;
}

.starter-image img {
  position: absolute;
  top: 1.4rem;
  left: 1.7rem;

  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}